<%= content_for :sidebar do %>
  <%= render :partial => "sidebar" %>
<% end %>

<%= content_for :js do %>
  <%= javascript_include_tag 'jquery.tablesorter' %>
  <%= javascript_include_tag 'jquery.tablesorter.pager' %>
  <%= javascript_include_tag 'email_account_categories/index' %>
<% end %>

<%= content_for :css do %>
  <%= stylesheet_link_tag 'data_list'%>
  <%= stylesheet_link_tag 'locations/jquery.tablesorter.css' %>
  <%= stylesheet_link_tag 'locations/jquery.tablesorter.pager.css' %>
<% end %>

<%= content_for :footer do %>
  <%#= render :partial=>"footer" %>
<% end %>

<%= content_tag :div, :id => "listings" do %>
  <%= render :partial => "list", :locals => {:email_account_categories => @email_account_categories} %>
<% end %>

<div id="pager" class="pager">
    <form>
      <%= image_tag "tablesorter/pager/first.png", :class => "first" %>
      <%= image_tag "tablesorter/pager/prev.png", :class => "prev" %>
      <%= text_field_tag "pagedisplay", "", :class => "pagedisplay" %>
      <%= image_tag "tablesorter/pager/next.png", :class => "next" %>
      <%= image_tag "tablesorter/pager/last.png", :class => "last" %>
      <%= select_tag "pagesize", options_from_collection_for_select([["3", "3"], ["5", "5"], ["10", "10"], ["20", "20"], ["30", "30"], ["40", "40"]], :first, :last), :class => "pagesize" %>
    </form>
</div>





