<h1>Listing headset_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @headset_types.each do |headset_type| %>
  <tr>
    <td><%= headset_type.name %></td>
    <td><%= headset_type.description %></td>
    <td><%= link_to 'Show', headset_type %></td>
    <td><%= link_to 'Edit', edit_headset_type_path(headset_type) %></td>
    <td><%= link_to 'Destroy', headset_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Headset type', new_headset_type_path %>
