<h1>Listing ram_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Capacity</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ram_types.each do |ram_type| %>
  <tr>
    <td><%= ram_type.name %></td>
    <td><%= ram_type.size %></td>
    <td><%= ram_type.capacity %></td>
    <td><%= ram_type.description %></td>
    <td><%= link_to 'Show', ram_type %></td>
    <td><%= link_to 'Edit', edit_ram_type_path(ram_type) %></td>
    <td><%= link_to 'Destroy', ram_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ram type', new_ram_type_path %>
