<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ram_type.name %>
</p>

<p>
  <b>Size:</b>
  <%= @ram_type.size %>
</p>

<p>
  <b>Capacity:</b>
  <%= @ram_type.capacity %>
</p>

<p>
  <b>Description:</b>
  <%= @ram_type.description %>
</p>


<%= link_to 'Edit', edit_ram_type_path(@ram_type) %> |
<%= link_to 'Back', ram_types_path %>
