<%= content_tag :div, :class=>"under-row padding10 " do %>
  <%= content_tag :h3, 'New User', :class=>'space-top-10 space-bottom-10' %>
  <%= tag 'hr', :class=>'clear' %>

  <div id="errors">
    
  </div>

  <%= simple_form_for @user, :html=>{:class=>'space-left-10' }, 
	:multiple => true, :remote => true do |f| %>
    <%= f.input :full_name  %>
    <%= f.input :username %>

    <% if @user.new_record? %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, :as => :password, :label => "Password Confirmation" %>
    <% elsif @user.id == current_user.id %>
      <%= f.input :old_password, :as => :password, :label => "Old Password" %>
      <%= f.input :new_password, :as => :password, :label => "New Password" %>
      <%= f.input :new_password_confirmation, :as => :password, :label => "New Password Confirmation" %>
    <% end %>

    <%= f.association :user_role, :collection => current_user.get_user_roles, :include_blank=>false %>

    <%= content_tag :div, :id => "new_email_accounts_container" do %>
      <%= f.simple_fields_for :email_accounts do |builder, email_account| %>
        <% if !builder.object.new_record? && builder.object.status %>
          <%= content_tag :div do %>
            <%= content_tag :div, :style => "width:350px; float: left;" do  %>
              <%= builder.input :email_address, :label => "Email Address", :input_html => { :style => "width: 200px;", :type => "text" } %>
            <% end %>
            <%= content_tag :div, :style => "width: 150px; float: left;" do  %>
              <%= builder.collection_select :email_account_category_id, EmailAccountCategory.all, :id, :name %>
              <%= builder.input :status, :as => :hidden, :input_html => { :value => "1" } %>
              <%= link_to_disable_email_account %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <br />
    <br />
    
    <div id="new_email_account_link" style="clear: both;">
      <% logger.debug("XXXXXXXXXXX #{params[:action]}") %>
      <%= add_new_email_account(f, params[:action]) %>
    </div>
    
    <br />

    <%= label_tag :email_group, "Email Groups" %>
    <%= select_tag :email_group, options_from_collection_for_select(EmailGroup.all, :id, :name), :include_blank => true %>

    <br />
    <br />

    <%= label_tag :email_format, "Email Format" %>
    <%= text_area_tag :email_format, nil, :rows => 50, :cols => 40 %>

    <br />
    <br />

    <%= content_tag :div, :id => "dynamic_attributes_container", :style => "display: none" do %>
      <%= label_tag :dynamic_user_attribues, "User Info" %>
      <%= select_tag :dynamic_user_attributes, options_from_collection_for_select(select_box_of_user_attributes, :first, :last) %>
      <%= link_to_dynamic_attributes_inserter %>

      <br />
      
      <%= label_tag :dynamic_email_accounts_attributes, "E-Mail Account Info" %>
      <%= select_tag :dynamic_email_accounts_attributes, options_from_collection_for_select(select_box_for_user_email_accounts_attributes, :first, :last) %>
      <%= link_to_dynamic_attributes_inserter %>
    <% end %>
    
    <br />

    <%= f.button 'submit', :value=>'Save', :class=>'new-user  submit width-auto margin-0' %>
    or
    <%= link_to "Cancel", '#', :class=>'space-top-10 cancel' %>
  <% end %>
<% end %>
