<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @processor_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @processor_type.description %>
</p>


<%= link_to 'Edit', edit_processor_type_path(@processor_type) %> |
<%= link_to 'Back', processor_types_path %>
