<%= content_tag :div, :class=>"under-row padding10 " do %>
  <%= content_tag :h3, 'New Email Group', :class => 'space-top-10 space-bottom-10' %>
  <%= tag 'hr', :class=>'clear' %>

  <div id="errors">

  </div>

  <%= simple_form_for @email_group, :html => {:class => 'space-left-10' },
	:remote => true do |f| %>
    <%= f.input :name  %>
    <%= f.input :description, :as => :text %>

    <br />
    
    <%= label_tag :email_accounts, "Email Accounts", :style => "width: 90px; padding-right: 0px;" %>
    
    <%= select_tag :email_accounts, options_from_collection_for_select(EmailAccount.all, :id, :email_address, @email_group.email_account_ids), :multiple => true, :class => "multiselect" %>

    <br />

    <%= content_tag :div, "", :class => "clear" %>

    <br />
    
    <%= f.button 'submit', :value => 'Save', :class => 'new-user  submit width-auto margin-0' %>
    or
    <%= link_to "Cancel", '#', :class => 'space-top-10 cancel' %>

  <% end %>
<% end %>

<script type="text/javascript">
  jQuery(".multiselect").multiselect();
</script>
