<%= content_tag :div, :class=>"under-row padding10 " do %>
  <%= content_tag :h3, 'New Email Group', :class => 'space-top-10 space-bottom-10' %>
  <%= tag 'hr', :class=>'clear' %>

  <div id="errors">

  </div>

  <%= simple_form_for @email_group, :html => {:class => 'space-left-10' },
	:remote => true do |f| %>
    <%= f.input :name  %>
    <%= f.input :description, :as => :text %>
    
    <%= label_tag :email_accounts_to, "Email (TO)", :style => "width: 70px; padding-right: 0px;" %>
    
    <% email_accounts_to = EmailAccountsEmailGroups.singular_email_account_ids(@email_group.new_record? ? 0 : @email_group.id, "to").to_a %>

    <%= content_tag :div, :class => "float_right" do %>
      <%= select_tag :email_accounts_to, options_from_collection_for_select(EmailAccount.all, :id, :email_address, email_accounts_to), :multiple => true, :class => "multiselect" %>
    <% end %>

    <%= content_tag :div, "", :class => "clear" %>

    <br />

    <%= label_tag :email_accounts_cc, "Email (CC)", :style => "width: 70px; padding-right: 0px;" %>

    <% email_accounts_cc = EmailAccountsEmailGroups.singular_email_account_ids(@email_group.new_record? ? 0 : @email_group.id, "cc").to_a %>

    <%= content_tag :div, :class => "float_right" do %>
      <%= select_tag :email_accounts_cc, options_from_collection_for_select(EmailAccount.all, :id, :email_address, email_accounts_cc), :multiple => true, :class => "multiselect" %>
    <% end %>

    <%= content_tag :div, "", :class => "clear" %>

    <br />
    
    <%= f.button 'submit', :value => 'Save', :class => 'new-user  submit width-auto margin-0' %>
    or
    <%= link_to "Cancel", '#', :class => 'space-top-10 cancel' %>

  <% end %>
<% end %>

<script type="text/javascript">
  jQuery(".multiselect").multiselect();
</script>
