<h1>Listing monitor_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @monitor_types.each do |monitor_type| %>
  <tr>
    <td><%= monitor_type.name %></td>
    <td><%= monitor_type.description %></td>
    <td><%= link_to 'Show', monitor_type %></td>
    <td><%= link_to 'Edit', edit_monitor_type_path(monitor_type) %></td>
    <td><%= link_to 'Destroy', monitor_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monitor type', new_monitor_type_path %>
