<%= content_tag :div, :class=>"under-row padding10 " do %>
    <%= simple_form_for [@category, @category_type],
        html: { class: 'space-left-10',
        multipart: true }, :remote => true do |f|
    %>

    <div id="errors">
      
    </div>
    
    <%= f.input :name %>
    <%= f.input :description,
      :as=>:text,
      :input_html=>{ :rows=>'7',
      :cols=>'40'}#,
 #     :onfocus=>"this.value=''",
#      :value=>"Enter Message here",
#      :onblur=>"if (this.value == '') this.value ='Enter Message here'" } 
    %>
    
    <%= f.button 'submit', class: 'submit width-auto margin-0' %>
    or
    <%= link_to "Cancel", '#', class: 'space-top-10 cancel' %>
  <% end %>
<% end %>
