<%= content_tag :div, :class=>"under-row padding10 " do %>
  <%= tag 'hr', :class=>'clear' %>

  <div id="errors">
  </div>

  <%= simple_form_for @category, html:{ class:'space-left-10',
      multipart: true }, :remote => true do |f|  %>
    <%= f.input :name, label: 'Name' %>
    <%= f.input :display, as: :file %>

    <%= f.button 'submit', :value=>'Save', :class=>'new-user  submit width-auto margin-0' %>
    or
    <%= link_to "Cancel", '#', :class=>'space-top-10 cancel' %>
  <% end %>
<% end %>
