<h1>Listing mouse_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mouse_types.each do |mouse_type| %>
  <tr>
    <td><%= mouse_type.name %></td>
    <td><%= mouse_type.description %></td>
    <td><%= link_to 'Show', mouse_type %></td>
    <td><%= link_to 'Edit', edit_mouse_type_path(mouse_type) %></td>
    <td><%= link_to 'Destroy', mouse_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mouse type', new_mouse_type_path %>
