<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mouse_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @mouse_type.description %>
</p>


<%= link_to 'Edit', edit_mouse_type_path(@mouse_type) %> |
<%= link_to 'Back', mouse_types_path %>
