<h1>Listing keyboard_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keyboard_types.each do |keyboard_type| %>
  <tr>
    <td><%= keyboard_type.name %></td>
    <td><%= keyboard_type.description %></td>
    <td><%= link_to 'Show', keyboard_type %></td>
    <td><%= link_to 'Edit', edit_keyboard_type_path(keyboard_type) %></td>
    <td><%= link_to 'Destroy', keyboard_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyboard type', new_keyboard_type_path %>
