<% users.each do |user| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to user.id, user, :remote => true %></td>
    <td><%= user.full_name %></td>
    <td>N/A</td>
    <td><%= user.location.nil? ? "No Location Assigned" : user.location.full_hierarchy %></td>
    <td>
      <%= link_to "Move", {:action => "move_user_to_another_sub_location", :user_id => user.id}, :remote => true %>
      |
      <%= link_to "Replace / View HW", "#", :remote => true %>
      |
      <%= link_to "Resign", "#", :remote => true %>
    </td>
  </tr>
<% end %>
