<%= content_for :sidebar do %>
  <%= render :partial => "sidebar" %>
<% end %>
<%= content_for :js do %>
  <%= javascript_include_tag 'jquery.tablesorter' %>
  <%= javascript_include_tag 'jquery.tablesorter.pager' %>
  <%= javascript_include_tag 'users/index' %>
  <%= javascript_include_tag 'locations/index' %>
<% end %>
<%= content_for :css do %>
  <%= stylesheet_link_tag 'data_list'%>
  <%= stylesheet_link_tag 'tablesorter/jquery.tablesorter.css' %>
  <%= stylesheet_link_tag 'tablesorter/jquery.tablesorter.pager.css' %>
<% end %>
<%= content_for :footer do %>
  <%#= render :partial=>"footer" %>
<% end %>

<% current_user_role = current_user.user_role.title.downcase %>

<% if (current_user_role == "admin") %>

  <%= content_tag :div, :class=>'menu-holder' do %>
    <%= content_tag :div, :class=>'menu-inner' do %>
      <%= content_tag :ul, :class=>'head', :id=>'main-nav' do %>
        <%= content_tag :li, "Name", :style=>"width: 250px;"   %>
        <%= content_tag :li, "Location Type", :style => "width: 250px;" %>
        <%= content_tag :li, "Capacity", :style => "width: 250px;" %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, '',:class=>'spacer' %>
  <%= render :partial=>'list' %>

<% elsif (current_user_role == "mis" ) %>
  <%= content_tag :div, :id => 'listings' do %>

    <%= content_tag :div, "", :class => "spacer" %>

    <%= content_tag :div, :id => "location_users_filter_listings", :style => "width: 300px; float: left; margin-left: 5px; margin-bottom: 15px;" do %>
      <%= content_tag :h3, "Advance User Filter" %>
      <br />
      <%= content_tag :div, :class => "location_users_filter_select_tags", :style => "width: 300px;" do %>
        <%= label_tag "parent_locations", @locations.empty? ? "" : @locations.first.location_type.name.singularize, :style => "padding-right: 5px; width: 40px;" %>
        <%= select_tag "parent_locations", options_from_collection_for_select(@locations, :id, :name), :include_blank => true, :class => "location_users_filter" %>
      <% end %>
    <% end %>


    <%= content_tag :div, :id => "users_table_container" do %>
      <%= render :partial => "users_lists", :locals => {:users => User.all} %>
    <% end %>

    <div id="pager" class="pager">
      <form>
        <%= image_tag "tablesorter/pager/first.png", :class => "first" %>
        <%= image_tag "tablesorter/pager/prev.png", :class => "prev" %>
        <%= text_field_tag "pagedisplay", "", :class => "pagedisplay" %>
        <%= image_tag "tablesorter/pager/next.png", :class => "next" %>
        <%= image_tag "tablesorter/pager/last.png", :class => "last" %>
        <%= select_tag "pagesize", options_from_collection_for_select([["3", "3"], ["5", "5"], ["10", "10"], ["20", "20"], ["30", "30"], ["40", "40"]], :first, :last), :class => "pagesize" %>
      </form>
    </div>

  <% end %>
<% else %>
  <%= "You are not Authorized to view this Page." %>
<% end %>

<%= link_to "#", "#", :remote => true, :class => "hide", :id => "hidden_link" %>

