<%= content_for :sidebar do %>
  <%= render :partial => "sidebar" %>
<% end %>
<%= content_for :js do %>
  <%= javascript_include_tag 'jquery.tablesorter.min' %>
  <%= javascript_include_tag 'jquery.tablesorter.pager' %>
  <%= javascript_include_tag 'users/index' %>
  <%= javascript_include_tag 'locations/index' %>
<% end %>
<%= content_for :css do %>
  <%= stylesheet_link_tag 'data_list'%>
  <%= stylesheet_link_tag 'locations/jquery.tablesorter.css' %>
  <%= stylesheet_link_tag 'locations/jquery.tablesorter.pager.css' %>
<% end %>
<%= content_for :footer do %>
  <%#= render :partial=>"footer" %>
<% end %>

<% current_user_role = current_user.user_role.title.downcase %>

<% if (current_user_role == "admin") %>

  <%= content_tag :div, :class=>'menu-holder' do %>
    <%= content_tag :div, :class=>'menu-inner' do %>
      <%= content_tag :ul, :class=>'head', :id=>'main-nav' do %>
        <%= content_tag :li, "Name", :style=>"width: 250px;"   %>
        <%= content_tag :li, "Location Type", :style => "width: 250px;" %>
        <%= content_tag :li, "Capacity", :style => "width: 250px;" %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, '',:class=>'spacer' %>
  <%= render :partial=>'list' %>

<% elsif (current_user_role == "mis" ) %>
  <%= content_tag :div, :id => 'listings' do %>

    <table id="users_table" class="tablesorter">
      <thead>
        <tr>
          <th class="header bold">Employee ID</th>
          <th class="header bold">Employee Name</th>
          <th class="header bold">Current System</th>
          <th class="header bold">Location</th>
          <th class="header bold">Actions</th>
        </tr>
      </thead>
      <tbody id="users_list_in_table">
        <%= render :partial => "users_lists", :locals => {:users => User.all} %>
      </tbody>
    </table>

  <div id="pager" class="pager">
    <form>
      <%= image_tag "tablesorter/pager/first.png", :class => "first" %>
      <%= image_tag "tablesorter/pager/prev.png", :class => "prev" %>
      <%= text_field_tag "pagedisplay", "", :class => "pagedisplay" %>
      <%= image_tag "tablesorter/pager/next.png", :class => "next" %>
      <%= image_tag "tablesorter/pager/last.png", :class => "last" %>
      <%= select_tag "pagesize", options_from_collection_for_select([["5", "5"], ["10", "10"], ["20", "20"], ["30", "30"], ["40", "40"]], :first, :last), :class => "pagesize" %>
    </form>
  </div>

<% end %>
<% else %>
  <%= "You are not Authorized to view this Page." %>
<% end %>

